.container {
    display: flexbox;
    flex-direction: column;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.logo {
    width: 500px;
    height: 500px;
}