.container {
    display: flexbox;
    flex-direction: column;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.logo {
    width: 150px;
    height: 150px;
}

.red {
    color: red;
}
.green {
    color: green;
}