.coin-container {
  display: grid;
  grid-template-columns: repeat(3, 15vmin);
  grid-template-rows: repeat(2, 15vmin);
  gap: 8vmin;
}

.featured {
  margin-left: 60px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.title-logo{
    display: grid;
    grid-template-columns: 50% 50%;
}

.container {
  display: flex;
}


.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px ;
    height: fit-content;

}

.tokens-container {
  padding-left: 10vmin;
  display: flexbox;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: max-content;
  max-width: max-content;

 }

.logo {
    width: 200px;
    height: 200px;
    margin-left: 200px;
    margin-top: 50px;

}


.logo:hover {
    animation-name: spinlogo;
  animation-duration: 1s;
  animation-iteration-count: 1;
  /* linear | ease | ease-in | ease-out | ease-in-out */
  animation-timing-function: ease-in-out;
}

@keyframes spinlogo {
    from { transform: rotateY(0deg) }
  to { transform: rotateY(360deg) }
}

.coin-image{
    width: 8vmin;
    height: 8vmin;
    border-radius: 50px;

    


}

.red {
    color: red;
}
.green {
    color: green;
}

@keyframes shine { 
    0% {
        transform:translateX(-100%) translateY(-100%) rotate(30deg);
    }
    80% {transform:translateX(-100%) translateY(-100%) rotate(30deg);}
      100% {transform:translateX(100%) translateY(100%) rotate(30deg);}
  }
  
  
  .display-coin {
  
    position:relative;
    z-index:0;
    overflow:hidden;
    display: grid;
    grid-template-columns: repeat(3);
    grid-template-rows: repeat(3) ;
    margin: 10px 10px;
    padding: 8px 8px;
    width: 170px;
    height: 180px;
    background-color: #acaeb0;
    box-shadow: 3px 4px #4a5566;
    border: solid 2px var(--accent2);
    border-radius: 25px;
    
    
    &:after {
      content:'';
      top:0;
      transform:translateX(100%) rotate(30deg);
      width:300%;
      height:300%;
      position: absolute;
      z-index:1;
      animation: shine 3s infinite ease-in;
      background:
        linear-gradient( to right, 
          rgba(255,255,255,0) 0%,
          rgba(255,255,255,0.8) 50%,
          rgba(128,186,232,0) 99%,
          rgba(128,186,232,0) 100%);
    }
    &.silver {
      background:linear-gradient( to bottom, #bcc6cc, #eee, #bcc6cc);
    }
   
    }

    .top-container {
      display: flex;
      flex-direction: column;
      height: fit-content;
      width: fit-content;
    }
   .paragraph-div {
    margin-left: 70px;
    display: flexbox;
    text-align: center;
    justify-content: center;
    max-width: 550px;
    padding-bottom: 20px;
    padding-top: 20px;

   } 

   

  
   
    
  