.for-light-theme {
    --primary-color: ;
    --secondary-color: ;
    --font-color: ;
    --bg-color: ;
    --heading-color: ;
}


.for-dark-theme {
    --primary-color: ;
    --secondary-color: ;
    --font-color: ;
    --bg-color: ;
    --heading-color: ;
}



